    *{
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    .navbar{
        height: 3rem;
        width: 100%;
        background-color: rgb(0,0,0,0.6);
        display: flex;
        justify-content:center;
        align-items: center;
        top: 0;
        position: sticky;
    }
    .navlist{
        list-style: none;
        height: 100%;
        width: 80%;
        display: flex;
        justify-content:center;
        align-items: center;
        
    }
    .nav-list-items{
        margin: 0rem 1rem 0rem 1rem;
        font-size: smaller;
        color: white;
        opacity: 0.7;
    }
    .nav-list-items:hover{
        cursor: pointer;
        opacity: 1;
    }
    .nav-list-items i{
        font-size: medium;
    }